@import url(http://fonts.googleapis.com/css?family=Signika+Negative:400,700);

html{background: url('https://static.pexels.com/photos/915/apple-camera-desk-office.jpg') fixed;

background-size: 100%;
opacity:8;  

}

div{overflow: hidden;}

p{
	padding: 1%;
}

img {box-shadow: 0px 0px 4px #000;}


#header {
	background:rgba(255, 255, 255, 0.5);  
	padding: 1%;
	overflow: hidden;
	height: 90px;
}



.fullscreen{
	height:100%;
  size: 80%;
	position: absolute;
  background:rgba(255, 255, 255, 0.5);  
  /*background: url('office.jpg') fixed; */
  
}


#header h1{
  float: left;
  margin-top: 10px;
  margin-left: 35px;
  font-size: 50px;
}

#header ul{
list-style: none;
float: right;
padding-left: 10px;
 margin-top: 25px;
 margin-right: 17px;
margin-bottom: 3px;
}


#header ul li {

float: right;
margin-left:10px;
font-size: 30px;
margin-bottom: 20px;
margin: 0.4cm, 0.5cm;
}




.description h2 {
  position: absolute;
  color: #143250;
  float: middle;
  margin-left: 300px;
  margin-top: 2.3cm;

  font-size: 60px;
}

.description h3{
   position: absolute;
  color: #435B73;
  float: middle;
  margin-left: 300px;
  font-size: 45px;
   margin-top: 5.9cm;
}

.description p{
  color: white;
  padding: 30px;
  font-size: 28px;
}

.tabs {
	list-style: none;
}

.fullscreen .header {
	postition: absolute;
	margin bottom: 10px;
	text-align: center;
	width: 100%;
	color: #fff;
} 




.semitrans {
  background: rgba(255, 255, 255, .6);
  height: 310px;
  padding: 10px;
  color: #193E63;
  font-size: 20px;
  margin-top: 6cm;

  position: relative;
  top: 150px;
}




.nopadding {
  padding: 0;
}

.floatleft {
  float: left;
  margin: 2%;
}

.floatright {
  float: right;
  margin 2%;
}


